nav.foodmenu-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav.foodmenu-nav li {
  display: block;
  margin: 0 0 1px 0;
  font-weight: 600;
  font-size: 1.5em;
}
nav.foodmenu-nav a {
  display: block;
  padding: 20px;
  color: #5f5651;
  background-color: #F8DCA5;
  text-align: center;
}
nav.foodmenu-nav a:hover {
  background-color: #8f413a;
  color: #F8DCA5;
  text-decoration: none;
}

@media all and (min-width: 600px) {
  nav.foodmenu-nav ul {
    padding-left: 0px;
  }
  nav.foodmenu-nav li {
    float: left;
    width: 50%;
  }
  nav.foodmenu-nav li:nth-child(2n+1) {
    margin: 0 1px 1px -1px;
  }
}
section.food-menu section {
  position: fixed;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  /*visibility: hidden;*/
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 9999;
}
section.food-menu section.active {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  /*visibility: visible;*/
}

section.food-menu section .content {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  max-width: 600px;
  padding: 40px;
  background-color: #F8DCA5;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
section.food-menu section .content a.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #5f5651;
  color: #F8DCA5;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
section.food-menu section .content a.close:hover {
  background-color: #8f413a;
}

section.food-menu section.active .content {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* ============================================================
  ARTICLES
============================================================ */
section.food-menu article h2 {
  margin-bottom: 10px;
  color: #323232;
  /*font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-size: 1.5em;
}
section.food-menu article p {
  margin-bottom: 20px;
}
section.food-menu article p:last-child {
  margin-bottom: 0;
}
section.food-menu article price {
  float: right;
  font-weight: 700;
}
