#instafeed{
  z-index: 9990;
}
#instafeed a {
  padding:3px;
  margin:5px;
  border:1px solid #F8DCA5;
  display:inline-block;
  border-radius: 4px;
  position:relative;
  max-width: calc((100% - 40px) / 3);

}
#instafeed a img{
  max-width: 100%;
}

#instafeed .likes{
  background:rgba(143,65,58,0.8);
  /*font-family:sans-serif;*/
  font-size: 1em;
  position: absolute;
  color: #F8DCA5;
  right: 5px;
  top: 5px;
  left: 5px;
  opacity:0;
  text-align: center;
  line-height: 1.25em;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}
#instafeed .author {
  background: rgba(143,65,58,0.8);
  /*font-family:sans-serif;*/
  font-size: 0.75em;
  position: absolute;
  color: #F8DCA5;
  right: 0px;
  bottom: 2em;
  left: 0px;
  padding-right: 10px;
  opacity: 1;
  text-align: right;
  line-height: 1.25em;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
  -moz-transition: opacity 100ms ease;
  -o-transition: opacity 100ms ease;
  -ms-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity: 1;
}

button#load-more {
  max-width: calc((100% - 40px) / 3);
  width: 100%;
  position: relative;
  background-color: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #5f5651;
  display: inline-block;
  cursor: pointer;
  color: #8f413a;
  font-size: 1.25em;
  font-weight: normal;
  padding:6px 24px;
  margin-top: 10px;
  margin-left: 5px;
  }
button#load-more:hover {
  /*background-color:transparent;*/
  color:#F8DCA5;
  background-color:#8f413a;
}
button#load-more:active {
  position:relative;
}

@media all and (max-width: 600px) {
  #instafeed a{
    max-width: calc((100% - 40px) / 2);
  }
  button#load-more {
    min-width: calc((100% - 40px) / 2);
  }
}
@media all and (max-width: 320px) {
  #instafeed a{
    max-width: calc((100% - 15px) / 1);
  }
  button#load-more {
    max-width: calc(100% - 15px);
  }
}