div.lang_switcher {
	display: block;
	position: relative;
	font-size: 2em;
	color: #a6937e;
	text-align: center;
	top:-200px;
	width: 100%;
	z-index: 1;
}
div.lang_switcher button {
	color: #F8DCA5;
	padding: 7px 5px 5px 5px;
	margin: 0px;
	border: 0px;
	background-color: #a6937e;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 0.70em;
}
div.lang_switcher button:hover{
	color: #F8DCA5;
	background-color: #5f5651;
	text-decoration: none;
	cursor: pointer;
}
div.lang_switcher button.hidden, div.lang_switcher span.hidden {
	display: none;
}
@media all and (max-width: 538px) { 
  div.lang_switcher{
    top:-120px;
  }
}