div.social button{
	font-size: 3.5em;
	text-transform: none;
	text-shadow: none;
	color: #8f413a;
	background: rgba(248,220,165,0.8);
	border: solid 5px #8f413a;
}
div.social ul{
	text-align: center;
	margin: 1em 0 1.25em 0;
}
div.social li{
	display: inline;
	list-style-type: none;
	padding-right:5%;
}
div.social li:last-child{
	padding-right: 0px;
}
div.social button:hover{
	border-color: #5f5651;
	color: #fff;
	background: rgba(95,86,81,0.3);
	cursor: pointer;
}
div.social a, div.social a:hover, div.social a:active{
	text-decoration: none;
}
@media all and (max-width: 630px) { 
	div.social button{
		font-size: 3em;
		/*padding-right: 5px;*/
		padding: 5px 5px 5px 5px;
		margin-bottom: 10px;
	}
}
@media all and (max-width: 538px) { 
	div.social button{
		font-size: 2.5em;
	}
}
@media all and (max-width: 425px) { 
	div.social button{
		font-size: 2em;

		padding: 7px 2px 5px 2px;
	}
}