/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Fira Sans", serif;
  font-size: 2em;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 40em;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 4em;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("../img/content/bg7/largex2.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/content/bg3/largex2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/content/bg5/largex2.jpg");
}

/*iPad in portrait & landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  section.module.parallax{
          background-size: 230%;
          background-attachment: scroll;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
}
/*iPad in landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  section.module.parallax{
          background-size: 100%;
          background-attachment: scroll;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        section.module.parallax h1 {
          line-height: 400px;
        }
}
/*iPad in portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  section.module.parallax{
          background-size: 130%;
          background-attachment: scroll;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
}

/*             */
/* NON-RETINA */
/*            */
/* Small */
@media only screen and (max-width: 320px) {
      section.module.parallax{
        background-size: 285%;
        background-attachment: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      section.module.parallax-1 {
        background-image: url("../img/content/bg7/small.jpg") no-repeat;
      }
      section.module.parallax-2 {
        background-image: url("../img/content/bg3/small.jpg");
      }
      section.module.parallax-3 {
        background-image: url("../img/content/bg5/small.jpg");
      }
}
/* Medium */
@media only screen and (min-width: 321px) and (max-width: 538px) {
      section.module.parallax{
        background-size: 200%;
        background-attachment: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      section.module.parallax-1 {
        background-image: url("../img/content/bg7/medium.jpg");
      }
      section.module.parallax-2 {
        background-image: url("../img/content/bg3/medium.jpg");
      }
      section.module.parallax-3 {
        background-image: url("../img/content/bg5/medium.jpg");
      }
      section.module.parallax h1 {
          line-height: 400px;
        }
}

/*        */
/* RETINA */
/*        */
/* Small */
@media only screen and (min-resolution: 2dppx) and (max-width: 320px), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      section.module.parallax{
        background-size: 200%;
        background-attachment: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      section.module.parallax-1 {
        background-image: url("../img/content/bg7/smallx2.jpg");
      }
      section.module.parallax-2 {
        background-image: url("../img/content/bg3/smallx2.jpg");
      }
      section.module.parallax-3 {
        background-image: url("../img/content/bg5/smallx2.jpg");
      }
}
/* Medium */
@media only screen and (min-resolution: 2dppx) and (min-width: 321px) and (max-width: 538px), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      section.module.parallax{
        background-size: 100%;
        background-attachment: scroll;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      section.module.parallax-1 {
        background-image: url("../img/content/bg7/mediumx2.jpg");
      }
      section.module.parallax-2 {
        background-image: url("../img/content/bg3/mediumx2.jpg");
      }
      section.module.parallax-3 {
        background-image: url("../img/content/bg5/mediumx2.jpg");
      }
      section.module.parallax h1 {
          line-height: 400px;
        }
}
/* Large */
@media only screen and (min-resolution: 2dppx) and (min-width: 539px), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      section.module.parallax-1 {
        background-image: url("../img/content/bg7/largex2.jpg");
      }
      section.module.parallax-2 {
        background-image: url("../img/content/bg3/largex2.jpg");
      }
      section.module.parallax-3 {
        background-image: url("../img/content/bg5/largex2.jpg");
      }
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 3em;
  }
  section.module p {
    font-size: 1.25em;
  }
  section.module.parallax h1 {
    font-size: 6em;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 9em;
  }
}
/* ============================================================
  MENU
============================================================ */
.fix-nav {
 /* this make our menu fixed top */
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

 
.fix-body {
 /* this will adjust body top margin to prevent content jumping when nav gets fix  */
    margin-top: 50px;
 /* adjust as per height of your menu */;
}

.nav-container {
    background-color: #f8dcb5;
}

.nav {
 /* total height of menu is 50px */
    height: 46px;
    border-bottom: 2px solid #f8dcf5;
}

 
.nav ul {
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}
 
.nav ul li {
    float: left ;
    line-height: 46px;
    padding-left: 20px
}
 
.nav ul li a {
  color: #fff;
}
 
.nav ul li a:hover {
  color: #000;
  text-decoration: none
}
